<div class="container-fluid">
    <h2>Books</h2>
    <ul class="list-group list-div active">
        <li ng-repeat="book in model.booksFromBooklist" class="list-group-item col-xs-12 col-sm-6">
            <div class="row" ng-show="book">
                <div class="book-info-div">
                    <div ng-show="book.author">
                        <label class="explore-label">Name:</label>
                        <span></span>
                        <a href="#!/book/{{book._id}}"
                           class="book-name">{{book.title}}</a>
                    </div>
                    <div ng-hide="book.author">
                        <label class="explore-label">Name:</label>
                        <span></span>
                        <a class="book-name" href="{{book.url}}">{{book.title}}</a>
                    </div>
                </div>
                <div class="book-publisher-photo-div">
                    <img class="book-publisher-photo" ng-src="{{book.image}}">
                </div>
                <a ng-click="model.removeBookFromBooklist(book._id)" href=""><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </li>
    </ul>
</div>