<div  ng-include="'views/templates/footer-explore.html'"></div>
<div ng-include="'views/templates/header.html'"></div>
<div id="explore-back"><a href="#!/home"><span class="glyphicon glyphicon-arrow-left"></span></a></div>
<div class="book-detail-div container-fluid">
    <div class="book-detail-header-div">
        <div class="book-detail-header-img-div">
            <img class="book-publisher-photo-large"  ng-src="{{model.book.image}}">
        </div>
        <div class="book-detail-header-description-div">
            <div>
                <label class="book-detail-label">Book Name:</label><span></span>
                <span>{{model.book.title}}</span>
            </div>
            <div ng-show="model.book.author">
                <label class="book-detail-label">Author:</label><span></span>
                <span>{{model.book.author}}</span>
            </div>
            <div>
                <label class="book-detail-label">Publisher:</label><span></span>
                <span>{{model.book.publisher}}</span>
            </div>
        </div>
        <div class="book-detail-header-control-div">
            <div ng-show="model.user.type === 'READER'">
                <a class="detail-operator" ng-click="model.reviewBook(book)"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="detail-operator" ng-click="model.favouriteBook('yes')"><span class="glyphicon glyphicon-plus"></span></a>
                <button ng-click="model.buyBook()" class="btn btn-success">Buy</button>
            </div>
            <div ng-show="model.user.type === 'BOOKSTORE'">
                <button ng-click="model.buyBook()" class="btn btn-success">Buy</button>
            </div>
            <div ng-show="model.ownBook === 'YES'">
                <a class="detail-operator" ng-click="model.favouriteBook('yes')"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div ng-show="model.user._id === model.book._publisher._id">
                <a class="detail-operator" ng-click="model.edit = 'yes'"><span class="glyphicon glyphicon-cog"></span></a>
                <a class="detail-operator" ng-click="model.favouriteBook('yes')"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div ng-show="model.user.type === 'PUBLISHER' && model.book._author">
                <a class="detail-operator" ng-click="model.buy = 'yes'"><span class="glyphicon glyphicon-envelope"></span></a>

            </div>
        </div>
    </div>
    <div ng-show="model.favourite === 'yes'" ng-include src="'views/templates/favourite-book.html'"></div>
    <div ng-show="model.edit === 'yes'" ng-include src="'views/templates/edit-book.html'"></div>
    <div ng-show="model.review === 'yes'" ng-include src="'views/templates/edit-review.html'"></div>
    <div ng-show="model.buy === 'yes'" ng-include src="'views/templates/buy-book.html'"></div>
    <div>
        <ul  class="list-group list-div active">
            <li ng-repeat="review in model.reviews" class="list-group-item">
                <div class="row">

                    <div>
                        <div class="review-item">
                            <h2>Review Title:</h2>
                            <h3 class="reivew-content">{{review.title}}</h3>
                        </div>
                        <div class="review-item">
                            <h2>comment:</h2>
                            <h3 class="reivew-content">{{review.comment}}</h3>
                        </div>
                        <div class="review-item">
                            <h2>Rating:</h2>
                            <h3 class="reivew-content">{{review.rating}}</h3>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="new-reviews container-fluid">
    <h2>Reviews</h2>
    <ul  class="list-group list-div active">
        <li ng-repeat="review in model.book._reviews" class="list-group-item">
            <div class="row">
                <div class="book-info-div">
                    <div class="review-item">
                        <label class="explore-label">Review Title:</label>
                        <a class="reivew-content">{{review.title}}</a>
                    </div>
                    <div class="review-item">
                        <label class="explore-label">Comment:</label>
                        <a class="reivew-content">{{review.comment}}</a>
                    </div>

                </div>
                <div class="book-publisher-photo-div" ng-show="review._reader.username">
                    <img class="book-publisher-photo"
                         ng-src={{review._reader.avatar}}>
                </div>
            </div>
        </li>
    </ul>
</div>