<form class="form-titled form-horizontal">
    <div class="alert " ng-show="model.errorFavouriteMessage !== '1'">
        <span class="closebtn" ng-click="model.defaultMessage()">&times;</span>
        {{model.errorFavouriteMessage}}
    </div>
    <h5>Book Name</h5>
    <input type="text"
           class="form-control input-block"
           readonly
           value="{{model.book.title}}">
    <h5>Description</h5>
    <input type="text"
           class="form-control input-block"
           readonly
           value="{{model.book.subTitle}}">
    <h5>Author</h5>
    <input type="text"
           class="form-control input-block"
           readonly
           value="{{model.book.author}}">
    <h5>Add to Booklist</h5>
    <select ng-model="model.booklistId"
            class="form-control">
        <option ng-repeat=" booklist in model.booklists"
                value="{{booklist._id}}">{{booklist.name}}
        </option>
    </select>
    <a class="btn btn-primary btn-block"
       role="button"
       ng-click="model.addBookToBooklist(model.booklistId)">Confirm</a>
    <a class="btn btn-success btn-block"
       role="button"
       ng-click="model.favouriteBook('no')">Cancel</a>
</form>