<div class="container-fluid">
    <div ng-switch="model.user.type">
        <div ng-switch-when="READER">
            <ng-include src="'views/templates/reader-home.html'">
        </div>
        <div ng-switch-when="PUBLISHER">
            <ng-include src="'views/templates/publisher-home.html'">
        </div>
        <div ng-switch-when="BOOKSTORE">
            <ng-include src="'views/templates/bookstore-home.html'">
        </div>
        <div ng-switch-when="ADMIN">
            <ng-include src="'views/templates/admin-home.html'">
        </div>
    </div>
</div>