<div class="container-fluid">
    <h2>My Books</h2>
    <ul class="list-group list-div active">
        <li ng-repeat="book in model.books" class="list-group-item col-xs-12 col-sm-6">
            <div class="row" ng-show="book">
                <div class="song-info-div">
                    <div>
                        <label class="explore-label">Name:</label>
                        <span></span>
                        <a class="song-name" href="#!/book/{{book.id}}">{{book.name}}</a></div>
                </div>
                <div class="song-artist-photo-div">
                    <img class="song-artist-photo" ng-src="{{book.imageUrl}}">
                </div>
            </div>
        </li>
    </ul>
</div>