<div class="new-reviews container-fluid">
    <h2>Recent Booklists</h2>
    <ul  class="list-group list-div active">
        <li ng-repeat="booklist in model.booklists" class="list-group-item">
            <div class="row">
                <div class="book-info-div">
                    <div ng-show="booklist._owner.username">
                        <label class="explore-label">Creater Name:</label><span></span>
                        <a class="book-name">{{booklist._owner.username}}</a>
                    </div>

                    <div ng-show="booklist._owner.username">
                        <label class="explore-label">Booklist:</label><span></span>
                        <a href="#!/booklist/{{booklist._id}}"
                           class="book-name">{{booklist.name}}</a>
                    </div>
                </div>
                <div class="book-publisher-photo-div" ng-show="review._reader.username">
                    <img class="book-publisher-photo"
                         ng-src={{review._reader.avatar}}>
                </div>
            </div>
        </li>
    </ul>
</div>