<div  ng-include="'views/templates/footer-explore.html'"></div>
<div ng-include="'views/templates/header.html'"></div>

<div class="main-wrap">
    <input id="slide-sidebar" type="checkbox" role="button" />
    <label class="myslide-label" for="slide-sidebar"><span class="glyphicon glyphicon-align-justify"></span></label>
    <div class="mysidebar">
        <div class="list-menu">
            <ul class="list-group">
                <a ng-click="model.changeRightPanel('publishers')" href="">
                    <li class="list-group-item">Following Publishers</li >
                </a>
                <a ng-click="model.changeRightPanel('bookstores')" href="">
                    <li class="list-group-item">Following Bookstores</li >
                </a>
                <a ng-click="model.findAllBooksByUser('my-books')" href="">
                    <li class="list-group-item">My Books</li >
                </a>
                <a ng-click="model.changeRightPanel('reviews')" href="">
                    <li class="list-group-item">My Reviews</li >
                </a>
                <a ng-click="model.changeRightPanel('search')" href="">
                    <li class="list-group-item">Search Books</li >
                </a>
                <a ng-click="model.changeRightPanel('transactions')" href="">
                    <li class="list-group-item">My Transactions</li >
                </a>
                <li class="list-group-item"><a ng-click="model.changeRightPanel('create-booklist')" href="">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                </a>Booklists</li >
                <div class = "my-booklist" >
                    <div ng-show= "model.booklists" ng-repeat="booklist in model.booklists" class="list-group">
                        <li class="list-group-item">
                            <a ng-click="model.getAllBooksFromBooklist(booklist._id)" href="">{{booklist.name}}</a>
                            <a class="glyphicon glyphicon-trash pull-right" ng-click="model.deleteBooklistForUser(booklist._id)"></a>
                        </li>
                    </div>
                </div>
            </ul>
        </div>

    </div>

    <div class="portfolio">
        <div ng-show="model.rightPanel === 'create-booklist'" ng-include src="'views/templates/booklist-new.html'"></div>
        <div ng-show="model.rightPanel === 'booklist'" ng-include src="'views/templates/booklist-detail.html'"></div>
        <div ng-show="model.rightPanel === 'bookstores'" ng-include src="'views/templates/following-bookstores.html'"></div>
        <div ng-show="model.rightPanel === 'publishers'" ng-include src="'views/templates/following-publishers.html'"></div>
        <div ng-show="model.rightPanel==='search'" ng-include="'views/templates/user-search.html'"></div>
        <div ng-show="model.rightPanel==='reviews'" ng-include="'views/templates/myreviews.html'"></div>
        <div ng-show="model.rightPanel === 'my-books'" ng-include src="'views/templates/books-user.html'"></div>
        <div ng-show="model.rightPanel==='transactions'" ng-include="'views/templates/mytransactions.html'"></div>
    </div>
</div>

