<div  ng-include="'views/templates/footer-explore.html'"></div>
<div ng-include="'views/templates/header.html'"></div>

<div class="main-wrap">
    <input id="slide-sidebar" type="checkbox" role="button" />
    <label class="myslide-label" for="slide-sidebar"><span class="glyphicon glyphicon-align-justify"></span></label>
    <div class="mysidebar">
        <div class="list-menu">
            <ul class="list-group">
                <a ng-click="model.changeRightPanel('publishers')" href="">
                    <li class="list-group-item">Publishers</li >
                </a>
                <a ng-click="model.changeRightPanel('bookstores')" href="">
                    <li class="list-group-item">Bookstores</li >
                </a>
                <a ng-click="model.changeRightPanel('books')" href="">
                    <li class="list-group-item">My Books</li >
                </a>
                <a ng-click="model.changeRightPanel('search')" href="">
                    <li class="list-group-item">Search Books</li >
                </a>
                <li class="list-group-item"><a ng-click="model.changeRightPanel('create-playlist')" href="">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                </a>Booklists</li >
                <div class = "my-playlist" >
                    <div ng-show= "model.booklists" ng-repeat="booklist in model.booklists" class="list-group">
                        <li class="list-group-item">
                            <a ng-click="model.getAllBooksFromBooklist(booklist._id)" href="views/templates/booklist-detail.html">{{booklist.name}}</a>
                            <a class="glyphicon glyphicon-trash pull-right" ng-click="model.deleteBooklistForUser(booklist._id)"></a>
                        </li>
                    </div>
                </div>
            </ul>
        </div>

    </div>

    <div class="portfolio">
        <div ng-show="model.rightPanel === 'create-playlist'" ng-include src="'views/templates/booklist-new.html'"></div>
        <div ng-show="model.rightPanel === 'songlist'" ng-include src="'views/templates/playlist-detail.html'"></div>
        <div ng-show="model.rightPanel === 'musicians'" ng-include src="'views/templates/following-musicians.html'"></div>
        <div ng-show="model.rightPanel === 'critics'" ng-include src="'views/templates/following-critics.html'"></div>
        <div ng-show="model.rightPanel === 'books'" ng-include src="'views/templates/mybooks.html'"></div>
        <div ng-show="model.rightPanel==='search'" ng-include="'views/templates/user-search.html'"></div>
    </div>
</div>

