<div ng-include="'views/templates/footer-explore.html'"></div>
<div ng-include="'views/templates/header.html'"></div>

<div class="search">
    <h1 class="visible-sm visible-md visible-lg">IT Books</h1>
    <h2 class="visible-xs">IT Books</h2>
    <p>from beginner to expert</p>
    <div class="searchbar">
        <input placeholder="Database Management System"
               ng-model = "model.searchContent"
               class="form-control"/>
        <button ng-click="model.searchTrack(model.searchContent)" class="btn btn-primary">
            Search Books
        </button>
    </div>

    <div class = "search-table container-fluid">
        <table ng-show = "model.search" class="col-sm-4">
            <tr class="search-table" ng-repeat="book in model.search">
                <td>
                    <a class="api-book-name"
                       ng-click="model.showDetails(book)">
                        {{book.title}}
                    </a>
                </td>
                <td>
                </td>
            </tr>
        </table>

        <div ng-show="model.realBook !=='0'" class="col-sm-8 hidden-xs">
            <button ng-show="model.user.type === 'PUBLISHER'"
                    class="btn btn-success" ng-click="model.addBookToUser(model.realBook._id)">Add to My Publications</button>
            <button ng-show="model.user.type === 'BOOKSTORE'"
                    class="btn btn-success" ng-click="model.addBookToUser(model.realBook._id)">Add to Store</button>
            <ul class="list-group lch-list" style="text-align: center">
                <a href="#!/book/{{model.realBook._id}}"><span class="glyphicon glyphicon-arrow-right"></span>Go To Book Page</a>
                <li class="ng-binding search-list-group-item">
                    Title:   {{model.book.title}}
                </li >
                <li class="ng-binding search-list-group-item">
                    ISBN:    {{model.book.isbn13}}
                </li>
                <li class="ng-binding search-list-group-item">
                    <img ng-src="{{model.book.image}}"/>
                </li>
                <li class="ng-binding search-list-group-item">
                    Author:    {{model.book.author}}
                </li>
                <li class="ng-binding search-list-group-item">
                    Publisher:  {{model.book.publisher}}
                </li>
                <li class="ng-binding search-list-group-item">
                    Price:    {{model.book.price}}
                </li>
            </ul>
        </div>
    </div>

</div>
